
.alert_container{
    width: 200px;
    height: 60px;
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 253, 245);
    padding: 10px;
    margin-bottom: 0;
    color: $font-color;

  }