.modal {
  &_overlay {
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    backdrop-filter: contrast(0.5);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  &_container {
    height: 35rem;
    width: 30rem;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: none;
    padding: 15px;
    &-header {
      display: flex;
      width: 100%;
      justify-content: end;
    }
  }
  &__cart{
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid $primary-color;
    justify-content: space-between;
  }
}
.cart{
  &__title{
  width: 50%;
  }
  &__price{
    font-family: $tertiary-font;
        color: $alert-color;
  }
}

.cart__empty{
  &-group{
    display: flex;
    flex-direction: column;
    margin-top: 30%;
    justify-content: center;
    align-items: center;
  }
  &-logo{
    content: url(../../Images/emptyCart.png);
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
  }
}

#btnClose {
  margin: 1rem;
}
