@use '../components/index';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 2rem;
    height: 58px;
    box-shadow: $base-shadow;
    position: fixed;
    top: 0;
    background-color: $white;
    width: 100%;
    z-index: 1;
    &_logo{
        height: 45px;
        content: url(../../Images/Logo.png);
    }
    &_pages{
        font-size: $font-size-base;
        a{
            font-weight: 600;
            padding: 0.75rem;
            color: $secondary-color;
            &:nth-child(odd):hover{
                @include underline-orange;
            }
            &:nth-child(even):hover{
                @include underline-pink;
            }
        }
        @media screen and (max-width: $breakpoint-s) {
            display: none;
        }
    }
    &_icons{
        display: flex;
        flex-direction: row;
    }
    &__cart{
        &-btn{
            border: none;
            height: 58px;
            background-color: $white;
        }
        &-span{
        content: url(../../Images/shopIcon.svg);
        padding: $base-padding;
        }
        &-container{
            position: relative;
        }
        &-badge{
            position: absolute;
            right: 15%;
            top: 18%;
            border-radius: 100%;
            background-color: $primary-color;
            color: $white;
            height: 1rem;
            width: 1rem;
            text-align: center;
            align-content: center;
            font-size: $font-size-xs;

        }
    }
    &__span-search{
        content: url(../../Images/searchIcon.svg);
        padding: $base-padding;
    }
}

.search_group{
    display: flex;
    align-items: center;
    @media screen and (max-width: $breakpoint-m) {
        display: none;
    }
}

#searchBar{
    height: 30px;
    width: 200px;
    border: 2px solid $primary-color;
    &:hover,:focus,:focus-visible,:active{
        border: 2px solid $tertiary-color;
    }
}


.search_result{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: white;
    border: 2px solid $primary-color;
    width: 40%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-radius: 9px/9px;
    @media screen and (max-width: $breakpoint-m) {
        display: none;
    }
    &-item {
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-radius: 9px/9px;
    }
    &-item:hover {
    background-color: $tertiary-color;
    }
    &-error{
        color: $alert-color;
    }
}