@use './index';

.form_button-contact{
    margin: auto;
    display: flex;
    justify-content: center;
}

.contact_main{
    margin-top: 5%;
    @media screen and (max-width: $breakpoint-m) {
        margin-top: 15%;
    }
}