
.moreOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
}


.product{
    &_container{
        display: flex;
        flex-direction: column;
        box-shadow: $base-shadow;
        margin: 5rem 14rem;
        padding: 1rem;
        padding-bottom: 3rem;
        @media screen and (max-width: $breakpoint-m) {
            margin: 5rem 6rem;
        }
        @media screen and (max-width: $breakpoint-base) {
            margin: 5rem 3rem;
        }

    }
    &_img-container{
        width: 100%;
    }
    &_img{
        height: 338px;
        width: 435px;
        display: flex;
        justify-content: center;
        @include  symetricImage;
        @media screen and (max-width: $breakpoint-s) {
            display: none;
        }
    }
    &_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: $breakpoint-l) {
        flex-direction: column;
    }
    }
    &_card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-family: $secondary-font;
            color: $secondary-color;
            margin-bottom: $margin-s;
        }
    }
    &__price{
        font-family: $tertiary-font;
        margin-bottom: $margin-m;
    }
    &__descript-short{
            font-size: $font-size-m;
            margin-bottom: $margin-m;
            font-weight: 400;
    }
    &_div-info{
        margin-left: $margin-m;
        @media screen and (max-width: $breakpoint-l) {
            margin-left: 0;
        }
    }
}

.main_products, .main_upload{
    margin-top: 8%;
    @media screen and (max-width: $breakpoint-l) {
        margin-top: 12%;
    }
    @media screen and (max-width: $breakpoint-m) {
        margin-top: 16%;
    }
    @media screen and (max-width: $breakpoint-s) {
        margin-top: 20%;
    }
}
