.card_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:  5%;
    @media screen and (max-width: $breakpoint-s) {
        margin: 20% 5%;  
    }
    &-lg{
        flex-wrap: wrap;
    }
    &-sm{
        flex-wrap: nowrap;
        @media screen and (max-width: $breakpoint-m) {
            margin: 2%;      
        }
        @media screen and (max-width: $breakpoint-s) {
            flex-direction: column;   
            align-items: center; 
        }
    }
}

