
@use './index';

.form{
    display: flex;
    flex-direction: column;
    box-shadow: $base-shadow;
    
    padding: 5% 10%;
    &_container{
        display: flex;
        flex-direction: column;
        padding: 5% 20%;
    }
    &_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: $margin-s
    }
    &_h2{
        font-family: $secondary-font;
        color: $secondary-color;
        margin-bottom: $base-margin;
        font-size: $font-size-l;
    }
    &_checkbox{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
    }

}

#btnContact, #btnUpload{
    align-self: center;
}
